MNepalWeb/MNepalWeb/Service References/NTServices/NTSoap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dealerPasswordChange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dealerPasswordChangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dealerPasswordChangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDealerBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mposNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDealerBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDealerBalanceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eTopupTransfer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eTopupTransferResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eTopupTransferResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkDealer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mposNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkDealerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkDealerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkDealerPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mposNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkDealerPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkDealerPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="dealerPasswordChangeSoapIn">
    <wsdl:part name="parameters" element="tns:dealerPasswordChange" />
  </wsdl:message>
  <wsdl:message name="dealerPasswordChangeSoapOut">
    <wsdl:part name="parameters" element="tns:dealerPasswordChangeResponse" />
  </wsdl:message>
  <wsdl:message name="getDealerBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:getDealerBalance" />
  </wsdl:message>
  <wsdl:message name="getDealerBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:getDealerBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="eTopupTransferSoapIn">
    <wsdl:part name="parameters" element="tns:eTopupTransfer" />
  </wsdl:message>
  <wsdl:message name="eTopupTransferSoapOut">
    <wsdl:part name="parameters" element="tns:eTopupTransferResponse" />
  </wsdl:message>
  <wsdl:message name="checkDealerSoapIn">
    <wsdl:part name="parameters" element="tns:checkDealer" />
  </wsdl:message>
  <wsdl:message name="checkDealerSoapOut">
    <wsdl:part name="parameters" element="tns:checkDealerResponse" />
  </wsdl:message>
  <wsdl:message name="checkDealerPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:checkDealerPassword" />
  </wsdl:message>
  <wsdl:message name="checkDealerPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:checkDealerPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="NTSoapSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dealerPasswordChange">
      <wsdl:input message="tns:dealerPasswordChangeSoapIn" />
      <wsdl:output message="tns:dealerPasswordChangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDealerBalance">
      <wsdl:input message="tns:getDealerBalanceSoapIn" />
      <wsdl:output message="tns:getDealerBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eTopupTransfer">
      <wsdl:input message="tns:eTopupTransferSoapIn" />
      <wsdl:output message="tns:eTopupTransferSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkDealer">
      <wsdl:input message="tns:checkDealerSoapIn" />
      <wsdl:output message="tns:checkDealerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkDealerPassword">
      <wsdl:input message="tns:checkDealerPasswordSoapIn" />
      <wsdl:output message="tns:checkDealerPasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NTSoapSoap" type="tns:NTSoapSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dealerPasswordChange">
      <soap:operation soapAction="http://tempuri.org/dealerPasswordChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDealerBalance">
      <soap:operation soapAction="http://tempuri.org/getDealerBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eTopupTransfer">
      <soap:operation soapAction="http://tempuri.org/eTopupTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkDealer">
      <soap:operation soapAction="http://tempuri.org/checkDealer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkDealerPassword">
      <soap:operation soapAction="http://tempuri.org/checkDealerPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NTSoapSoap12" type="tns:NTSoapSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dealerPasswordChange">
      <soap12:operation soapAction="http://tempuri.org/dealerPasswordChange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDealerBalance">
      <soap12:operation soapAction="http://tempuri.org/getDealerBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eTopupTransfer">
      <soap12:operation soapAction="http://tempuri.org/eTopupTransfer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkDealer">
      <soap12:operation soapAction="http://tempuri.org/checkDealer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkDealerPassword">
      <soap12:operation soapAction="http://tempuri.org/checkDealerPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NTSoap">
    <wsdl:port name="NTSoapSoap" binding="tns:NTSoapSoap">
      <soap:address location="http://localhost:1420/Services/NTSoap.asmx" />
    </wsdl:port>
    <wsdl:port name="NTSoapSoap12" binding="tns:NTSoapSoap12">
      <soap12:address location="http://localhost:1420/Services/NTSoap.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>