MNepalPlus/WCF.MNepal/Connected Services/MerchantReference/commoninterface1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.nibl.com.np/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.nibl.com.np/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.nibl.com.np/">
      <s:element name="SubmitRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviceId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serviceCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:RequestData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Field1" />
          <s:element minOccurs="0" maxOccurs="1" name="Field2" />
          <s:element minOccurs="0" maxOccurs="1" name="Field3" />
          <s:element minOccurs="0" maxOccurs="1" name="Field4" />
          <s:element minOccurs="0" maxOccurs="1" name="Field5" />
          <s:element minOccurs="0" maxOccurs="1" name="Field6" />
          <s:element minOccurs="0" maxOccurs="1" name="Field7" />
          <s:element minOccurs="0" maxOccurs="1" name="Field8" />
          <s:element minOccurs="0" maxOccurs="1" name="Field9" />
          <s:element minOccurs="0" maxOccurs="1" name="Field10" />
          <s:element minOccurs="0" maxOccurs="1" name="Field11" />
          <s:element minOccurs="0" maxOccurs="1" name="Field12" />
          <s:element minOccurs="0" maxOccurs="1" name="Field13" />
          <s:element minOccurs="0" maxOccurs="1" name="Field14" />
          <s:element minOccurs="0" maxOccurs="1" name="Field15" />
          <s:element minOccurs="0" maxOccurs="1" name="Field16" />
          <s:element minOccurs="0" maxOccurs="1" name="Field17" />
          <s:element minOccurs="0" maxOccurs="1" name="Field18" />
          <s:element minOccurs="0" maxOccurs="1" name="Field19" />
          <s:element minOccurs="0" maxOccurs="1" name="Field20" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResponseData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdditionalData" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitRequestResult" type="tns:ResponseData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HeaderInfo" type="tns:HeaderInfo" />
      <s:complexType name="HeaderInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="H1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="H2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="H3" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SubmitRequestSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitRequest" />
  </wsdl:message>
  <wsdl:message name="SubmitRequestSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitRequestResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitRequestHeaderInfo">
    <wsdl:part name="HeaderInfo" element="tns:HeaderInfo" />
  </wsdl:message>
  <wsdl:portType name="CommonInterfaceSoap">
    <wsdl:operation name="SubmitRequest">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Submit Request to NIBL</wsdl:documentation>
      <wsdl:input message="tns:SubmitRequestSoapIn" />
      <wsdl:output message="tns:SubmitRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CommonInterfaceSoap" type="tns:CommonInterfaceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitRequest">
      <soap:operation soapAction="http://www.nibl.com.np/SubmitRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SubmitRequestHeaderInfo" part="HeaderInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CommonInterfaceSoap12" type="tns:CommonInterfaceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitRequest">
      <soap12:operation soapAction="http://www.nibl.com.np/SubmitRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SubmitRequestHeaderInfo" part="HeaderInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommonInterface">
    <wsdl:port name="CommonInterfaceSoap" binding="tns:CommonInterfaceSoap">
      <soap:address location="https://www.nibl.com.np/interface/commoninterface.asmx" />
    </wsdl:port>
    <wsdl:port name="CommonInterfaceSoap12" binding="tns:CommonInterfaceSoap12">
      <soap12:address location="https://www.nibl.com.np/interface/commoninterface.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>